<div class="full-height" fxLayout="column" fxLayoutAlign="center center">
  <div id="project-brief">
    <h4>callScript</h4>
    <span class="underline">...</span>
    <h5>Project description. lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h5>
    <img class="project-img mat-elevation-z10" src="../assets/images/headset.png" alt="phone headset"> <br />
    <button mat-button color="primary">More Info</button>
  </div>
</div>

<div class="full-height" fxLayout="column" fxLayoutAlign="center center">
  <div id="project-brief">
    <h4>farmStore</h4>
    <span class="underline">...</span>
    <h5>Project description. lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h5>
    <img class="project-img mat-elevation-z10" src="../assets/images/buckislandfarmlogo.png" alt="farm store logo"> <br />
    <button mat-button color="primary">More Info</button>
  </div>
</div>

<div class="full-height" fxLayout="column" fxLayoutAlign="center center">
  <div id="project-brief">
    <h4>videoGame</h4>
    <span class="underline">...</span>
    <h5>Project description. lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor.</h5>
    <img class="project-img mat-elevation-z10" src="../assets/images/joystick.png" alt="video game icon"> <br />
    <button mat-button color="primary">More Info</button>
  </div>
</div>
