/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body{
  margin: 0;
}

.full-height{
  min-height: 100%;
}

.project-img{
border-radius: 50%;
width: 200px;
}

#profile {
  text-align: center;
  min-height: 350px;
  padding: 15px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Chakra Petch', sans-serif;

  }

  h1{
    font-size: 3em;
    font-weight: 100;
    line-height:100%;
  }

  h2{
    font-weight: 500;
    font-size: 1.2em;
    margin-top: -20px;
  }

  h3{
    line-height: 0%;
    font-weight: 100;
    font-size: 0.9em;

  }
