/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}

body{
  margin: 0;
}

.full-height{
  min-height: 100%;
}


#profile {
  text-align: center;
  min-height: 350px;
  padding: 15px;
  }

.underline{
  line-height: 0%;
  letter-spacing: 5px;
  font-size: 5em;
}

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Chakra Petch', sans-serif;
  }

  h1{
    font-size: 3em;
    font-weight: 100;
    line-height:100%;
  }

  h2{
    font-weight: 500;
    font-size: 1.2em;
    margin-top: -20px;
  }

  h3{
    line-height: 0%;
    font-weight: 100;
    font-size: 0.9em;

  }

  h4 {
    font-size: 2em;

 font-weight: 500;
    line-height: 0%;
    margin-bottom: 25px;
  }

  h

5{


    font-weight: 200;
    line-height: 125%;
  }
